.link {
    margin-right: 45px;
    margin-left: 45px;
    font-weight: 300;
    font-size: 18px;
}

.media {
    margin-right: 5px;
    margin-left: 5px;
}

.logo {
    margin-right: 5px;
    margin-left: 5px;
}

.title {
    font-size: 20px;
}